<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script>
  window.images = {
    splash_bubbles: "<%= asset_path("spash_page_bubbles.jpg") %>",
    logo: "<%= asset_path('logo.png') %>" ,
    logo_white: "<%= asset_path('spotifylogowhite.png') %>",
    prof_pic: "<%= asset_path('me_photo.jpg') %>",
    rec_played: "<%= asset_path('rec_played.png') %>",
    temp_search: "<%= asset_path('search-placeholder.png')%>",
    fill_murray: "<%= asset_path('fill_murray.png')%>",
    vol: "<%= asset_path('vol.png')%>",
    ffwd: "<%= asset_path('ffwd.png')%>",
    play: "<%= asset_path('play.png')%>",
    rewind: "<%= asset_path('rwnd.png')%>",
    shuffle: "<%= asset_path('shuffle.png')%>",
    replay: "<%= asset_path('replay.png')%>",
    mix1: "<%= asset_path('mix-1.png')%>",
    mix2: "<%= asset_path('mix-2.png')%>",
    mix3: "<%= asset_path('mix-3.png')%>",
    mix4: "<%= asset_path('mix-4.png')%>",
    mix5: "<%= asset_path('mix-5.png')%>",
    mix6: "<%= asset_path('mix-6.png')%>",
    mix7: "<%= asset_path('rr.png')%>",
    mix8: "<%= asset_path('top-2018.png')%>",
    mix9: "<%= asset_path('mix-9.png')%>",
    mix10: "<%= asset_path('mix-10.png')%>",
    mix11: "<%= asset_path('mix-11.png')%>",
    mix12: "<%= asset_path('mix-12.png')%>",
    mix13: "<%= asset_path('mix-13.png')%>",
    mix14: "<%= asset_path('mix-14.png')%>",
    mix15: "<%= asset_path('mix-15.png')%>",
    mix16:  "<%= asset_path('Scorpion_by_Drake.jpg')%>",
    mix17:  "<%= asset_path('lauryn_hill.jpg')%>",
    mix18:  "<%= asset_path('mix-15.png')%>",
    mix19:  "<%= asset_path('divfem.jpg')%>",
    mix20:  "<%= asset_path('realove.jpg')%>",
    mix21:  "<%= asset_path('hang.jpg')%>",
    mix22:  "<%= asset_path('notion.jpg')%>",
    mix23:  "<%= asset_path('glassani.jpg')%>",
    mix24:  "<%= asset_path('wewere.jpg')%>",
    a1: "<%= asset_path('art1.png')%>",
    a2: "<%= asset_path('art2.png')%>",
    a3: "<%= asset_path('art3.png')%>",
    a4: "<%= asset_path('art4.png')%>",
    a5: "<%= asset_path('art5.jpg')%>",
    a6: "<%= asset_path('art6.png')%>",
    a7: "<%= asset_path('art7.png')%>",
    a8: "<%= asset_path('art8.png')%>",

  }
</script>

<div id="root"><marquee> Redux is broken, yo!</marquee></div>
