<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script>
  window.images = {
    splash_bubbles: "<%= asset_path("spash_page_bubbles.jpg") %>",
    logo: "<%= asset_path('logo.png') %>" ,
    logo_white: "<%= asset_path('spotifylogowhite.png') %>",
    prof_pic: "<%= asset_path('me_photo.jpg') %>",
    rec_played: "<%= asset_path('rec_played.png') %>",
    temp_search: "<%= asset_path('search-placeholder.png')%>",
    fill_murray: "<%= asset_path('fill_murray.png')%>",
    vol: "<%= asset_path('vol.png')%>",

    ffwd: "<%= asset_path('ffwd.png')%>",
    play: "<%= asset_path('play.png')%>",
    rewind: "<%= asset_path('rwnd.png')%>",
    shuffle: "<%= asset_path('shuffle.png')%>",
    replay: "<%= asset_path('replay.png')%>",
  }
</script>

<div id="root"><marquee> Redux is broken, yo!</marquee></div>
